<a href="https://colab.research.google.com/github/ArkadiuszFedorowicz/BigDataProject/blob/main/intyo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Sformatowano jako kod
```

# Import bibliotek

In [5]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'0.22.2.post1'

# Dane

In [6]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving Seasons_Stats.csv to Seasons_Stats.csv

In [7]:
import pandas as pd 
import io 
  
df = pd.read_csv(io.BytesIO(uploaded['Seasons_Stats.csv'])) 
print(df)

       Unnamed: 0    Year             Player  Pos  ...   BLK   TOV     PF    PTS
0               0  1950.0    Curly Armstrong  G-F  ...   NaN   NaN  217.0  458.0
1               1  1950.0       Cliff Barker   SG  ...   NaN   NaN   99.0  279.0
2               2  1950.0      Leo Barnhorst   SF  ...   NaN   NaN  192.0  438.0
3               3  1950.0         Ed Bartels    F  ...   NaN   NaN   29.0   63.0
4               4  1950.0         Ed Bartels    F  ...   NaN   NaN   27.0   59.0
...           ...     ...                ...  ...  ...   ...   ...    ...    ...
24686       24686  2017.0        Cody Zeller   PF  ...  58.0  65.0  189.0  639.0
24687       24687  2017.0       Tyler Zeller    C  ...  21.0  20.0   61.0  178.0
24688       24688  2017.0  Stephen Zimmerman    C  ...   5.0   3.0   17.0   23.0
24689       24689  2017.0        Paul Zipser   SF  ...  16.0  40.0   78.0  240.0
24690       24690  2017.0        Ivica Zubac    C  ...  33.0  30.0   66.0  284.0

[24691 rows x 53 columns]

In [8]:
df.head(40)

    Unnamed: 0    Year            Player  Pos  ...  BLK TOV     PF     PTS
0            0  1950.0   Curly Armstrong  G-F  ...  NaN NaN  217.0   458.0
1            1  1950.0      Cliff Barker   SG  ...  NaN NaN   99.0   279.0
2            2  1950.0     Leo Barnhorst   SF  ...  NaN NaN  192.0   438.0
3            3  1950.0        Ed Bartels    F  ...  NaN NaN   29.0    63.0
4            4  1950.0        Ed Bartels    F  ...  NaN NaN   27.0    59.0
5            5  1950.0        Ed Bartels    F  ...  NaN NaN    2.0     4.0
6            6  1950.0       Ralph Beard    G  ...  NaN NaN  132.0   895.0
7            7  1950.0        Gene Berce  G-F  ...  NaN NaN    6.0    10.0
8            8  1950.0     Charlie Black  F-C  ...  NaN NaN  273.0   661.0
9            9  1950.0     Charlie Black  F-C  ...  NaN NaN  140.0   382.0
10          10  1950.0     Charlie Black  F-C  ...  NaN NaN  133.0   279.0
11          11  1950.0       Nelson Bobb   PG  ...  NaN NaN   97.0   242.0
12          12  1950.0   Jake Bornheimer  F-C  ...  NaN NaN  111.0   254.0
13          13  1950.0      Vince Boryla   SF  ...  NaN NaN  203.0   612.0
14          14  1950.0         Don Boven  F-G  ...  NaN NaN  255.0   656.0
15          15  1950.0     Harry Boykoff    C  ...  NaN NaN  229.0   779.0
16          16  1950.0       Joe Bradley    G  ...  NaN NaN   51.0    87.0
17          17  1950.0       Bob Brannum   PF  ...  NaN NaN  279.0   713.0
18          18  1950.0        Carl Braun  G-F  ...  NaN NaN  188.0  1031.0
19          19  1950.0     Frankie Brian    G  ...  NaN NaN  192.0  1138.0
20          20  1950.0  Price Brookfield  F-G  ...  NaN NaN    7.0    34.0
21          21  1950.0         Bob Brown    F  ...  NaN NaN  269.0   724.0
22          22  1950.0        Jim Browne    C  ...  NaN NaN   16.0    47.0
23          23  1950.0        Walt Budko   PF  ...  NaN NaN  259.0   595.0
24          24  1950.0    Jack Burmaster    G  ...  NaN NaN  237.0   598.0
25          25  1950.0      Tommy Byrnes  F-G  ...  NaN NaN   76.0   327.0
26          26  1950.0      Bill Calhoun   SG  ...  NaN NaN  100.0   560.0
27          27  1950.0       Don Carlson  G-F  ...  NaN NaN  126.0   267.0
28          28  1950.0     Bob Carpenter  F-C  ...  NaN NaN  168.0   614.0
29          29  1950.0       Jake Carter  F-C  ...  NaN NaN   59.0    82.0
30          30  1950.0       Jake Carter  F-C  ...  NaN NaN   27.0    44.0
31          31  1950.0       Jake Carter  F-C  ...  NaN NaN   32.0    38.0
32          32  1950.0         Al Cervi*   PG  ...  NaN NaN  223.0   573.0
33          33  1950.0       John Chaney  F-C  ...  NaN NaN   23.0    70.0
34          34  1950.0       John Chaney  F-C  ...  NaN NaN   13.0    28.0
35          35  1950.0       John Chaney  F-C  ...  NaN NaN   10.0    42.0
36          36  1950.0     Leroy Chollet    F  ...  NaN NaN   52.0   157.0
37          37  1950.0        Bill Closs   SF  ...  NaN NaN  190.0   752.0
38          38  1950.0        Paul Cloyd  G-F  ...  NaN NaN    5.0    19.0
39          39  1950.0        Paul Cloyd  G-F  ...  NaN NaN    4.0     5.0

[40 rows x 53 columns]

In [9]:
df_rawCopy = df

In [10]:
df_rawCopy.head(10)

   Unnamed: 0    Year           Player  Pos   Age  ... STL  BLK  TOV     PF    PTS
0           0  1950.0  Curly Armstrong  G-F  31.0  ... NaN  NaN  NaN  217.0  458.0
1           1  1950.0     Cliff Barker   SG  29.0  ... NaN  NaN  NaN   99.0  279.0
2           2  1950.0    Leo Barnhorst   SF  25.0  ... NaN  NaN  NaN  192.0  438.0
3           3  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   29.0   63.0
4           4  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN   27.0   59.0
5           5  1950.0       Ed Bartels    F  24.0  ... NaN  NaN  NaN    2.0    4.0
6           6  1950.0      Ralph Beard    G  22.0  ... NaN  NaN  NaN  132.0  895.0
7           7  1950.0       Gene Berce  G-F  23.0  ... NaN  NaN  NaN    6.0   10.0
8           8  1950.0    Charlie Black  F-C  28.0  ... NaN  NaN  NaN  273.0  661.0
9           9  1950.0    Charlie Black  F-C  28.0  ... NaN  NaN  NaN  140.0  382.0

[10 rows x 53 columns]

In [11]:
df_rawCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  object
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB

In [12]:
df.describe()

         Unnamed: 0          Year  ...            PF           PTS
count  24691.000000  24624.000000  ...  24624.000000  24624.000000
mean   12345.000000   1992.594989  ...    116.339222    510.116350
std     7127.822084     17.429594  ...     84.791873    492.922981
min        0.000000   1950.000000  ...      0.000000      0.000000
25%     6172.500000   1981.000000  ...     39.000000    106.000000
50%    12345.000000   1996.000000  ...    109.000000    364.000000
75%    18517.500000   2007.000000  ...    182.000000    778.000000
max    24690.000000   2017.000000  ...    386.000000   4029.000000

[8 rows x 50 columns]

In [13]:
df.describe().T

              count          mean          std  ...        50%        75%        max
Unnamed: 0  24691.0  12345.000000  7127.822084  ...  12345.000  18517.500  24690.000
Year        24624.0   1992.594989    17.429594  ...   1996.000   2007.000   2017.000
Age         24616.0     26.664405     3.841892  ...     26.000     29.000     44.000
G           24624.0     50.837110    26.496161  ...     58.000     75.000     88.000
GS          18233.0     23.593375    28.632387  ...      8.000     45.000     83.000
MP          24138.0   1209.720317   941.146575  ...   1053.000   1971.000   3882.000
PER         24101.0     12.479071     6.039014  ...     12.700     15.600    129.100
TS%         24538.0      0.493001     0.094469  ...      0.506      0.544      1.136
3PAr        18839.0      0.158604     0.187495  ...      0.064      0.288      1.000
FTr         24525.0      0.325455     0.218971  ...      0.296      0.400      6.000
ORB%        20792.0      6.181565     4.872685  ...      5.400      9.000    100.000
DRB%        20792.0     13.708657     6.636402  ...     12.700     18.100    100.000
TRB%        21571.0      9.949210     5.040283  ...      9.200     13.500    100.000
AST%        22555.0     13.009962     9.191843  ...     10.500     17.600    100.000
STL%        20792.0      1.648269     1.017024  ...      1.500      2.100     24.200
BLK%        20792.0      1.410624     1.773348  ...      0.900      1.900     77.800
TOV%        19582.0     15.085099     6.919170  ...     14.200     17.700    100.000
USG%        19640.0     18.906492     5.448157  ...     18.600     22.200    100.000
blanl           0.0           NaN          NaN  ...        NaN        NaN        NaN
OWS         24585.0      1.257307     2.136256  ...      0.400      1.900     18.300
DWS         24585.0      1.227395     1.269613  ...      0.800      1.800     16.000
WS          24585.0      2.485796     3.058638  ...      1.400      3.800     25.400
WS/48       24101.0      0.065002     0.102471  ...      0.075      0.115      2.123
blank2          0.0           NaN          NaN  ...        NaN        NaN        NaN
OBPM        20797.0     -1.778386     3.792947  ...     -1.500      0.300     47.800
DBPM        20797.0     -0.548570     2.253106  ...     -0.500      0.700     46.800
BPM         20797.0     -2.326720     4.691619  ...     -1.800      0.300     36.200
VORP        20797.0      0.559879     1.336892  ...      0.000      0.900     12.400
FG          24624.0    195.325820   188.114361  ...    141.000    299.000   1597.000
FGA         24624.0    430.645752   397.624715  ...    321.000    661.000   3159.000
FG%         24525.0      0.430817     0.095921  ...      0.439      0.480      1.000
3P          18927.0     22.215037    38.543366  ...      2.000     27.000    402.000
3PA         18927.0     63.604480   102.442769  ...     11.000     84.000    886.000
3P%         15416.0      0.248796     0.176683  ...      0.292      0.363      1.000
2P          24624.0    178.250447   179.478923  ...    122.000    268.000   1597.000
2PA         24624.0    381.756782   371.260335  ...    270.000    579.250   3159.000
2P%         24496.0      0.445343     0.099803  ...      0.456      0.496      1.000
eFG%        24525.0      0.450658     0.099200  ...      0.463      0.501      1.500
FT          24624.0    102.389336   113.373565  ...     63.000    149.000    840.000
FTA         24624.0    136.775219   146.078918  ...     88.000    201.000   1363.000
FT%         23766.0      0.719279     0.141824  ...      0.743      0.808      1.000
ORB         20797.0     62.189210    67.324881  ...     38.000     91.000    587.000
DRB         20797.0    147.199404   145.921912  ...    106.000    212.000   1111.000
TRB         24312.0    224.637381   228.190203  ...    159.000    322.000   2149.000
AST         24624.0    114.852623   135.863913  ...     68.000    160.000   1164.000
STL         20797.0     39.897052    38.713053  ...     29.000     60.000    301.000
BLK         20797.0     24.470260    36.935084  ...     11.000     29.000    456.000
TOV         19645.0     73.939832    67.713803  ...     55.000    112.000    464.000
PF          24624.0    116.339222    84.791873  ...    109.000    182.000    386.000
PTS         24624.0    510.116350   492.922981  ...    364.000    778.000   4029.000

[50 rows x 8 columns]

In [14]:
for col in ['Pos',]:
    df[col] = df[col].astype('category')



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  category
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: category(1), float64(49), int64(1), object(2)
memory usage: 9.8+ MB

In [15]:
df.describe(include=['category']).T

     count unique top  freq
Pos  24624     23  PF  4966

In [16]:
df.isnull().sum()

Unnamed: 0        0
Year             67
Player           67
Pos              67
Age              75
Tm               67
G                67
GS             6458
MP              553
PER             590
TS%             153
3PAr           5852
FTr             166
ORB%           3899
DRB%           3899
TRB%           3120
AST%           2136
STL%           3899
BLK%           3899
TOV%           5109
USG%           5051
blanl         24691
OWS             106
DWS             106
WS              106
WS/48           590
blank2        24691
OBPM           3894
DBPM           3894
BPM            3894
VORP           3894
FG               67
FGA              67
FG%             166
3P             5764
3PA            5764
3P%            9275
2P               67
2PA              67
2P%             195
eFG%            166
FT               67
FTA              67
FT%             925
ORB            3894
DRB            3894
TRB             379
AST              67
STL            3894
BLK            3894
TOV            5046
PF               67
PTS              67
dtype: int64

In [17]:
from sklearn.impute import SimpleImputer

# strategy: 'mean', 'median', 'most_frequent', 'constant'
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(df[['Pos']])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [18]:
for col in ['Pos']:
    df[col] = df[col].astype('category')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  category
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: category(1), float64(49), int64(1), object(2)
memory usage: 9.8+ MB

In [19]:
df.describe().T

              count          mean          std  ...        50%        75%        max
Unnamed: 0  24691.0  12345.000000  7127.822084  ...  12345.000  18517.500  24690.000
Year        24624.0   1992.594989    17.429594  ...   1996.000   2007.000   2017.000
Age         24616.0     26.664405     3.841892  ...     26.000     29.000     44.000
G           24624.0     50.837110    26.496161  ...     58.000     75.000     88.000
GS          18233.0     23.593375    28.632387  ...      8.000     45.000     83.000
MP          24138.0   1209.720317   941.146575  ...   1053.000   1971.000   3882.000
PER         24101.0     12.479071     6.039014  ...     12.700     15.600    129.100
TS%         24538.0      0.493001     0.094469  ...      0.506      0.544      1.136
3PAr        18839.0      0.158604     0.187495  ...      0.064      0.288      1.000
FTr         24525.0      0.325455     0.218971  ...      0.296      0.400      6.000
ORB%        20792.0      6.181565     4.872685  ...      5.400      9.000    100.000
DRB%        20792.0     13.708657     6.636402  ...     12.700     18.100    100.000
TRB%        21571.0      9.949210     5.040283  ...      9.200     13.500    100.000
AST%        22555.0     13.009962     9.191843  ...     10.500     17.600    100.000
STL%        20792.0      1.648269     1.017024  ...      1.500      2.100     24.200
BLK%        20792.0      1.410624     1.773348  ...      0.900      1.900     77.800
TOV%        19582.0     15.085099     6.919170  ...     14.200     17.700    100.000
USG%        19640.0     18.906492     5.448157  ...     18.600     22.200    100.000
blanl           0.0           NaN          NaN  ...        NaN        NaN        NaN
OWS         24585.0      1.257307     2.136256  ...      0.400      1.900     18.300
DWS         24585.0      1.227395     1.269613  ...      0.800      1.800     16.000
WS          24585.0      2.485796     3.058638  ...      1.400      3.800     25.400
WS/48       24101.0      0.065002     0.102471  ...      0.075      0.115      2.123
blank2          0.0           NaN          NaN  ...        NaN        NaN        NaN
OBPM        20797.0     -1.778386     3.792947  ...     -1.500      0.300     47.800
DBPM        20797.0     -0.548570     2.253106  ...     -0.500      0.700     46.800
BPM         20797.0     -2.326720     4.691619  ...     -1.800      0.300     36.200
VORP        20797.0      0.559879     1.336892  ...      0.000      0.900     12.400
FG          24624.0    195.325820   188.114361  ...    141.000    299.000   1597.000
FGA         24624.0    430.645752   397.624715  ...    321.000    661.000   3159.000
FG%         24525.0      0.430817     0.095921  ...      0.439      0.480      1.000
3P          18927.0     22.215037    38.543366  ...      2.000     27.000    402.000
3PA         18927.0     63.604480   102.442769  ...     11.000     84.000    886.000
3P%         15416.0      0.248796     0.176683  ...      0.292      0.363      1.000
2P          24624.0    178.250447   179.478923  ...    122.000    268.000   1597.000
2PA         24624.0    381.756782   371.260335  ...    270.000    579.250   3159.000
2P%         24496.0      0.445343     0.099803  ...      0.456      0.496      1.000
eFG%        24525.0      0.450658     0.099200  ...      0.463      0.501      1.500
FT          24624.0    102.389336   113.373565  ...     63.000    149.000    840.000
FTA         24624.0    136.775219   146.078918  ...     88.000    201.000   1363.000
FT%         23766.0      0.719279     0.141824  ...      0.743      0.808      1.000
ORB         20797.0     62.189210    67.324881  ...     38.000     91.000    587.000
DRB         20797.0    147.199404   145.921912  ...    106.000    212.000   1111.000
TRB         24312.0    224.637381   228.190203  ...    159.000    322.000   2149.000
AST         24624.0    114.852623   135.863913  ...     68.000    160.000   1164.000
STL         20797.0     39.897052    38.713053  ...     29.000     60.000    301.000
BLK         20797.0     24.470260    36.935084  ...     11.000     29.000    456.000
TOV         19645.0     73.939832    67.713803  ...     55.000    112.000    464.000
PF          24624.0    116.339222    84.791873  ...    109.000    182.000    386.000
PTS         24624.0    510.116350   492.922981  ...    364.000    778.000   4029.000

[50 rows x 8 columns]

In [20]:
df

       Unnamed: 0    Year             Player  Pos  ...   BLK   TOV     PF    PTS
0               0  1950.0    Curly Armstrong  G-F  ...   NaN   NaN  217.0  458.0
1               1  1950.0       Cliff Barker   SG  ...   NaN   NaN   99.0  279.0
2               2  1950.0      Leo Barnhorst   SF  ...   NaN   NaN  192.0  438.0
3               3  1950.0         Ed Bartels    F  ...   NaN   NaN   29.0   63.0
4               4  1950.0         Ed Bartels    F  ...   NaN   NaN   27.0   59.0
...           ...     ...                ...  ...  ...   ...   ...    ...    ...
24686       24686  2017.0        Cody Zeller   PF  ...  58.0  65.0  189.0  639.0
24687       24687  2017.0       Tyler Zeller    C  ...  21.0  20.0   61.0  178.0
24688       24688  2017.0  Stephen Zimmerman    C  ...   5.0   3.0   17.0   23.0
24689       24689  2017.0        Paul Zipser   SF  ...  16.0  40.0   78.0  240.0
24690       24690  2017.0        Ivica Zubac    C  ...  33.0  30.0   66.0  284.0

[24691 rows x 53 columns]

In [21]:
df.isnull().sum()

Unnamed: 0        0
Year             67
Player           67
Pos              67
Age              75
Tm               67
G                67
GS             6458
MP              553
PER             590
TS%             153
3PAr           5852
FTr             166
ORB%           3899
DRB%           3899
TRB%           3120
AST%           2136
STL%           3899
BLK%           3899
TOV%           5109
USG%           5051
blanl         24691
OWS             106
DWS             106
WS              106
WS/48           590
blank2        24691
OBPM           3894
DBPM           3894
BPM            3894
VORP           3894
FG               67
FGA              67
FG%             166
3P             5764
3PA            5764
3P%            9275
2P               67
2PA              67
2P%             195
eFG%            166
FT               67
FTA              67
FT%             925
ORB            3894
DRB            3894
TRB             379
AST              67
STL            3894
BLK            3894
TOV            5046
PF               67
PTS              67
dtype: int64

In [22]:
imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='G-F')
imputer.fit_transform(df[['Pos']])

array([['G-F'],
       ['SG'],
       ['SF'],
       ...,
       ['C'],
       ['SF'],
       ['C']], dtype=object)

In [23]:
df['Pos'].fillna(value='G-F', inplace=True)
df

       Unnamed: 0    Year             Player  Pos  ...   BLK   TOV     PF    PTS
0               0  1950.0    Curly Armstrong  G-F  ...   NaN   NaN  217.0  458.0
1               1  1950.0       Cliff Barker   SG  ...   NaN   NaN   99.0  279.0
2               2  1950.0      Leo Barnhorst   SF  ...   NaN   NaN  192.0  438.0
3               3  1950.0         Ed Bartels    F  ...   NaN   NaN   29.0   63.0
4               4  1950.0         Ed Bartels    F  ...   NaN   NaN   27.0   59.0
...           ...     ...                ...  ...  ...   ...   ...    ...    ...
24686       24686  2017.0        Cody Zeller   PF  ...  58.0  65.0  189.0  639.0
24687       24687  2017.0       Tyler Zeller    C  ...  21.0  20.0   61.0  178.0
24688       24688  2017.0  Stephen Zimmerman    C  ...   5.0   3.0   17.0   23.0
24689       24689  2017.0        Paul Zipser   SF  ...  16.0  40.0   78.0  240.0
24690       24690  2017.0        Ivica Zubac    C  ...  33.0  30.0   66.0  284.0

[24691 rows x 53 columns]

In [24]:
df.isnull().sum()

Unnamed: 0        0
Year             67
Player           67
Pos               0
Age              75
Tm               67
G                67
GS             6458
MP              553
PER             590
TS%             153
3PAr           5852
FTr             166
ORB%           3899
DRB%           3899
TRB%           3120
AST%           2136
STL%           3899
BLK%           3899
TOV%           5109
USG%           5051
blanl         24691
OWS             106
DWS             106
WS              106
WS/48           590
blank2        24691
OBPM           3894
DBPM           3894
BPM            3894
VORP           3894
FG               67
FGA              67
FG%             166
3P             5764
3PA            5764
3P%            9275
2P               67
2PA              67
2P%             195
eFG%            166
FT               67
FTA              67
FT%             925
ORB            3894
DRB            3894
TRB             379
AST              67
STL            3894
BLK            3894
TOV            5046
PF               67
PTS              67
dtype: int64

In [27]:
data_blank = df.copy()
data_ready = data_blank.pop('blank2')

In [30]:
df

       Unnamed: 0    Year             Player  Pos  ...   BLK   TOV     PF    PTS
0               0  1950.0    Curly Armstrong  G-F  ...   NaN   NaN  217.0  458.0
1               1  1950.0       Cliff Barker   SG  ...   NaN   NaN   99.0  279.0
2               2  1950.0      Leo Barnhorst   SF  ...   NaN   NaN  192.0  438.0
3               3  1950.0         Ed Bartels    F  ...   NaN   NaN   29.0   63.0
4               4  1950.0         Ed Bartels    F  ...   NaN   NaN   27.0   59.0
...           ...     ...                ...  ...  ...   ...   ...    ...    ...
24686       24686  2017.0        Cody Zeller   PF  ...  58.0  65.0  189.0  639.0
24687       24687  2017.0       Tyler Zeller    C  ...  21.0  20.0   61.0  178.0
24688       24688  2017.0  Stephen Zimmerman    C  ...   5.0   3.0   17.0   23.0
24689       24689  2017.0        Paul Zipser   SF  ...  16.0  40.0   78.0  240.0
24690       24690  2017.0        Ivica Zubac    C  ...  33.0  30.0   66.0  284.0

[24691 rows x 53 columns]

In [31]:
data_row = df.copy()

In [32]:
del df['blank2']

In [37]:
del df['blanl']

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24691 non-null  category
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  OWS         24585 non-null  float64
 22  DWS         24585 non-null  float64
 23  WS          24585 non-null  float64
 24  WS/48       24101 non-null  float64
 25  OBPM        20797 non-null  float64
 26  DBPM        20797 non-null  float64
 27  BPM         20797 non-null  float64
 28  VORP        20797 non-null  float64
 29  FG          24624 non-null  float64
 30  FGA         24624 non-null  float64
 31  FG%         24525 non-null  float64
 32  3P          18927 non-null  float64
 33  3PA         18927 non-null  float64
 34  3P%         15416 non-null  float64
 35  2P          24624 non-null  float64
 36  2PA         24624 non-null  float64
 37  2P%         24496 non-null  float64
 38  eFG%        24525 non-null  float64
 39  FT          24624 non-null  float64
 40  FTA         24624 non-null  float64
 41  FT%         23766 non-null  float64
 42  ORB         20797 non-null  float64
 43  DRB         20797 non-null  float64
 44  TRB         24312 non-null  float64
 45  AST         24624 non-null  float64
 46  STL         20797 non-null  float64
 47  BLK         20797 non-null  float64
 48  TOV         19645 non-null  float64
 49  PF          24624 non-null  float64
 50  PTS         24624 non-null  float64
dtypes: category(1), float64(47), int64(1), object(2)
memory usage: 9.4+ MB